<ion-view view-title="Settings">
<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
   <ion-pane class="background-color-grey">
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="user.toggleFavorite(show)">
      </button>
    </ion-nav-buttons>

    <ion-content>
      <div class="list">
     <!--    <div class="item item-divider">
          Notifications
        </div> -->

        <li class="item item-toggle">
          Receive Push Notifications
          <label class="toggle toggle-positive">
            <input type="checkbox" checked>
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <ion-list>

          <ion-checkbox ng-repeat="item in checkboxes" ng-model="item.checked" ng-checked="item.checked">
            {{ item.text }}
          </ion-checkbox>

        </ion-list>
      </div>

      <button style="width:80%;margin-left:auto;margin-right:auto;" ng-controller="LoginCtrl" ng-click="logout()" class="button button-block button-positive" ng-click="logout()">
        Logout
      </button>

    </ion-content>
  </ion-pane>
</ion-view>
