<ion-view view-title="Practice" class="background-color-grey">
  <ion-content delegate-handle="show-page" >
   <h1 ng-class={{titleColor}}>{{title}}</h1>
    <div id="deck" class="" >
    <div class="cardx" ng-repeat="card in cards" class="">
      <div class="side_one">
        <p>{{card.front}}</p>
      </div>
      <div  class="side_two">
        <p>{{card.back}}</p>
      </div>
    </div>

</div>
  <div id="nav_deck">
    <!-- <span class="icon ion-arrow-left-a" id="prev"><span class="visuallyhidden">Previous</span></span> -->
    <button class="button kumon" id="prev"><i class="icon ion-arrow-left-a" ></i>Previous</button>
    <!-- <span class="icon" id="flipper" data-icon="/" ng-click="spin()"><span class="visuallyhidden">Flip</span></span> -->
    <button class="button kumon" id="flipper" ng-click="spin()"><i class="icon ion-arrow-right-a" ></i>Flip</button>
    <!-- <span class="icon" id="next" data-icon=">"><span class="visuallyhidden">Next</span></span> -->
    <button class="button kumon" id="next"><i class="icon ion-arrow-right-a" ></i>Next</button>
        <button class="button kumon" id="" ng-controller="LoginCtrl" ng-click="logout()"><i class="icon ion-arrow-right-a" ></i>Logout</button>
    <!-- <span ng-click="next()">next</span> -->
  </div>
  
  <p></p>
    
    <div class="row gallery" >
    <!-- For wrapping cards used the gallery class https://forum.ionicframework.com/t/grid-list-that-wraps-items/7658/3 -->
  		<div class="col col-50" ng-repeat="topic in topics" ng-click="topicSelected(topic)">
			
			
			 <div class="card">
			  <div class="item item-divider">
			   {{topic.title}} ({{topic.length || 0}})
			  </div>
			  <div class="item item-text-wrap">
			    <img style="width:50%;height:50%" ng-src={{topic.url}} />
			  </div>
			</div>
  		</div>
  	
  	
  </ion-content>
</ion-view>
