<ion-view view-title="Test">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-pane class="background-color-grey">
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="user.toggleFavorite(show)">
      </button>
    </ion-nav-buttons>

    <ion-content>

      <div class="list card" ng-hide="resultMode">
<uib-progressbar max="max" value="dynamic" class="progress-striped" type="success"><span style="color:black; white-space:nowrap;">{{dynamic}} / {{max}}</span></uib-progressbar>
        <div class="item item-avatar">
             <!--<uib-progressbar max="max" value="dynamic" class="progress-striped" type="success"><span style="color:black; white-space:nowrap;">{{dynamic}} / {{max}}</span></uib-progressbar>
          <h2>Arithmetic</h2>
          <p>Level 1</p>-->
           <countdown autostart="true" time="20" limit colors="flat-colors-very-wide" callback="finished()">
        </div>

        <div class="item item-image">
          <p>&nbsp;</p><p>&nbsp;</p>
          <div ng-repeat="question in filteredQuestions">
              <span style="font-size:80px"  >{{question.q}}</span>
              <p>&nbsp;</p><p>&nbsp;</p>
              <div class="row">
                  <div class="col col-50"><button class="{{buttonType0}}" ng-click="change(question.op[0].ans,0)" style="width:200px;height:100px;font-size:35px;">{{question.op[0].val}}</button></div>
                  <div class="col col-50"><button class="{{buttonType1}}" ng-click="change(question.op[1].ans,1)" style="width:200px;height:100px;font-size:35px;">{{question.op[1].val}}</button></div>
              </div>
              <div class="row">
                  <div class="col col-50"><button class="{{buttonType2}}" ng-click="change(question.op[2].ans,2)" style="width:200px;height:100px;font-size:35px;">{{question.op[2].val}}</button></div>
                  <div class="col col-50"><button class="{{buttonType3}}" ng-click="change(question.op[3].ans,3)" style="width:200px;height:100px;font-size:35px;">{{question.op[3].val}}</button></div>
              </div>
          </div>
        </div>

       <div class="item">
         
            <span style="font-size:40px">{{result}}</span>

       </div>

      </div>


         <div class="list card" ng-show="resultMode">

                <div class="item item-avatar">

                    <img height="150" width="150" ng-src="data/img/exam.jpg">
                    <p>Score card</p>
                    <h2>{{verdict}}</h2>

                </div>

                <div class="item item-body">

                    <div class="row">
                        <div class="col col-80">Total Questions</div>
                        <div class="col col-20">{{totalQues}}</div>
                    </div>

                    <div class="row">
                        <div class="col col-80">Correct Answers</div>
                        <div class="col col-20">{{totalQues - wrong}}</div>
                    </div>

                    <div class="row">
                        <div class="col col-80">Incorrect Answers</div>
                        <div class="col col-20">{{wrong}}</div>
                    </div>

                    <div class="row">
                        <div class="col col-80">Total</div>
                        <div class="col col-20"><strong>{{score}} %</strong></div>
                    </div>
                    <div class="row">
                        <div class="col col-80"><strong>Result</strong></div>
                        <div class="col col-20"><strong>{{verdict}}</strong></div>
                    </div>
                    <hr/>
                    <!-- <img class="full-image" height="150" width="100" ng-src="data/img/table.jpg"> -->
                    <p class="center">

                        <button class="button button-balanced" ng-click="closeResults()">Close</button>
                    </p>

                </div>
            </div>
    </ion-content>
  </ion-pane>
</ion-view>