<ion-view view-title="Levels" class="background-color-grey">
<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content delegate-handle="show-page" >
 
  <p></p>
    
  <ul class="list">
    <li class="item">Level 1</li>
		<li class="item">Level 2</li>
		<li class="item">Level 3</li>
		<li class="item">Level 4</li>
		<li class="item">Level 5</li>
		<li class="item">Level 6</li>
		<li class="item">Level 7</li>
		<li class="item">Level 8</li>
</ul>
  	
  </ion-content>
</ion-view>
