<ion-view view-title="{{title}} Practice ({{cards.length}})" class="background-color-grey">

<ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content delegate-handle="show-page" >
  <div class="row">&nbsp;</div>
    <button class="button ion-android-checkbox-blank"  ng-click="changeColor('white')" style="font-size:50px;color:white;"></button>
			  <button class="button ion-android-checkbox-blank"  ng-click="changeColor('red')" style="font-size:50px;color:red;"></button>
			  <button class="button ion-android-checkbox-blank"  ng-click="changeColor('pink')" style="font-size:50px;color:pink;"></button>
			  <button class="button ion-android-checkbox-blank"  ng-click="changeColor('teal')" style="font-size:50px;color:teal;"></button>
			  <button class="button ion-android-checkbox-blank"  ng-click="changeColor('cyan')" style="font-size:50px;color:cyan;"></button>
			  
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <button class="button button-positive" ng-click="manage()"><i class="icon ion-edit" ></i>&nbsp;Manage</button>
    <!-- <h1 ng-class={{titleColor}}>{{title}} ({{cards.length}})</h1>  -->
			    <div id="deck" class="" >
				    <div class="cardx" ng-repeat="card in cards track by $index" class="">
				      <div class="side_one">
				        <p>{{card.front}}</p>
				      </div>
				      <div  class="side_two">
				        <p>{{card.back}}</p>
				      </div>
				    </div>
			
			</div>
			
			   <div id="nav_deck">
			    
			    <button class="button button-positive" id="prev"><i class="icon ion-arrow-left-a" ></i></button>
			    
			    <button class="button button-positive" id="flipper" ng-click="spin()"><i class="icon ion-arrow-up-a" ></i><i class="icon ion-arrow-down-a" ></i></button>
			    
			    <button class="button button-positive" id="next"><i class="icon ion-arrow-right-a" ></i></button>
			    
			    <!-- <button class="button button-positive" id="" ng-controller="LoginCtrl" ng-click="logout()"><i class="icon ion-arrow-right-a" ></i>Logout</button> -->
			  </div>
			  
			  <div class="row">&nbsp;</div>
			  <div class="row">&nbsp;</div>
			  <div class="row">&nbsp;</div>
			  <div class="row">&nbsp;</div>
			  <div class="row">&nbsp;</div>
			  <div class="row">&nbsp;</div>
			  <div class="row">&nbsp;</div>
			  <div class="row">&nbsp;</div>  
			  <div class="row">
			  
			  	<div class="col col-20">
			  		<button class="button  ion-social-facebook" ng-controller="SocialShareCtrl" ng-click="shareFb()" style="font-size:50px;color:#3b5998;"></button>
			  	</div>
			  	<div class="col col-20">
			  		<button class="button ion-social-twitter" ng-controller="SocialShareCtrl" ng-click="shareTwitter()" style="font-size:50px;color:#1da1f2;"></button>
			  	</div>
			  	<div class="col col-20">
			  		<button class="button  ion-social-whatsapp"   ng-controller="SocialShareCtrl" ng-click="shareWhatsapp()" style="font-size:50px;color:#43d854;"></button>
			  	</div>
			  	<div class="col col-20">
			  		<button class="button  ion-android-textsms" ng-controller="SocialShareCtrl"  ng-click="shareSms()" style="font-size:50px;color:#3aa5dc;"></button>
			  	</div>
			  	<div class="col col-20">
			  		<button class="button  ion-email" ng-controller="SocialShareCtrl" ng-click="shareEmail()" style="font-size:50px;color:#dd4b39;"></button>
			  	</div>
			  </div>
			  
			
  	
  </ion-content>
</ion-view>
