
<ion-view view-title="Manage {{title}} Deck">
<ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
<ion-pane class="background-color-grey">
  <ion-content>
  <div class="card" ng-repeat="c in cards track by $index">
		  <div class="item item-divider" >
		  	<i class="ion ion-trash-a pull-right" ng-click="remove(c)"></i>
		    {{title}}
		  </div>
		  <div class="item item-text-wrap">
		    {{c.front}}
		    <p>
		    {{c.back}}
		  </div>
</div>
<!-- 	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div> -->
  
  </ion-content>
    <button class="button button-float" ng-click="openComposer()">
	        <i class="icon ion-plus"></i>
	      </button>
	      </ion-pane>
</ion-view>
