<ion-view view-title="Topics" class="background-color-grey">
<ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content delegate-handle="show-page" >
 
  <p></p>
    
   <div class="list row gallery" >
    <!-- For wrapping cards used the gallery class https://forum.ionicframework.com/t/grid-list-that-wraps-items/7658/3 -->
  		<div class="col col-50" ng-repeat="topic in getTopics()" >
			
			<a href="#/tab/topics/{{topic.id}}">
			 <div class="card" >
			  <div class="item item-divider bar-balanced">
			   {{topic.title}} ({{topic.length || 0}})
			  </div>
			  <div class="item item-text-wrap">
			    <img style="width:50%;height:50%" ng-src={{topic.url}} />
			  </div>
			</div>
			</a>
  		</div>
  	</div>
  	
  </ion-content>
</ion-view>
